body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blanchedalmond;
}
h1 {
    text-align: center;
    color: slateblue;
    border: solid 2px;
}
h2 {
    color: rgb(14, 170, 87);
    text-decoration: underline;
}
img {
    width: 600px;
    height: 400px;
    border: solid 4px slateblue;
}

.bonAppetit {
    background-color: aquamarine;
}
th {
    background-color: blanchedalmond;
}
tr {
    background-color: lightblue;
}